header {
  background-color: #00AEFF;
  height: 150px;
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1440px) {
  header {
    justify-content: space-between;
    padding-top: 10px;
  }
}
@media (max-width: 375px) {
  header {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 110px;
  }
}
header .h_div_1 {
  background-color: #009BDD;
  width: 25%;
  height: 67px;
}
@media (max-width: 1440px) {
  header .h_div_1 {
    margin: 40px;
  }
}
@media (max-width: 375px) {
  header .h_div_1 {
    width: 90%;
    height: 25px;
    margin: 10px;
  }
}
header .h_div_2 {
  background-color: #36C3FF;
  width: 25%;
  height: 67px;
}
@media (max-width: 1440px) {
  header .h_div_2 {
    margin: 40px;
  }
}
@media (max-width: 375px) {
  header .h_div_2 {
    width: 90%;
    height: 25px;
    margin: 10px;
  }
}

@media (max-width: 375px) {
  section .container .right-block .row:nth-child(-n+3) {
    display: block;
    flex-basis: 26%;
    max-height: 35px;
  }
  section .container .right-block .row {
    display: none;
  }
}
section {
  display: flex;
  justify-content: center;
}
section .container {
  flex-basis: 75%;
  height: 700px;
  display: flex;
}
@media (max-width: 1440px) {
  section .container {
    flex-basis: 100%;
  }
}
@media (max-width: 375px) {
  section .container {
    height: 1180px;
    flex-direction: column;
  }
}
section .container .right-block {
  background-color: #FF5607;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 10px;
}
@media (max-width: 375px) {
  section .container .right-block {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    flex: 0.2;
  }
}
section .container .right-block .row {
  background-color: #E84900;
  height: 30px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}
section .container .left-block {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  flex: 4;
}
section .container .left-block .top {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-right: 0;
}
@media (max-width: 1440px) {
  section .container .left-block .top {
    padding-right: 20px;
  }
}
@media (max-width: 375px) {
  section .container .left-block .top {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}
section .container .left-block .top .photo {
  background-color: #FFBD00;
  width: 40%;
}
@media (max-width: 375px) {
  section .container .left-block .top .photo {
    height: 240px;
    width: 100%;
  }
}
section .container .left-block .top .row-main {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
@media (max-width: 375px) {
  section .container .left-block .top .row-main {
    padding: 20px;
    width: 84%;
    gap: 25px;
    padding-bottom: 25px;
  }
}
section .container .left-block .top .row-main .row {
  background: #CECECE;
  height: 20px;
}
section .container .left-block .bottom {
  flex: 2;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1440px) {
  section .container .left-block .bottom {
    padding-right: 20px;
  }
}
@media (max-width: 375px) {
  section .container .left-block .bottom {
    width: 84%;
    gap: 0px;
  }
}
section .container .left-block .bottom .row {
  background: #CECECE;
  height: 20px;
}
@media (max-width: 1440px) {
  section .container .left-block .bottom .row {
    padding-right: 20px;
    gap: 30px;
  }
}

@media (max-width: 375px) {
  footer .footer-block .row:nth-child(-n+1) {
    display: block;
    height: 13px;
  }
  footer .footer-block .row {
    display: none;
  }
}
footer {
  display: flex;
  width: 100%;
  height: 220px;
  background-color: #00D169;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  footer {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
footer .footer-block {
  display: flex;
  background-color: #02B15A;
  width: 150px;
  height: 150px;
  margin: 15px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 375px) {
  footer .footer-block {
    width: 90%;
    height: 50px;
    margin: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: baseline;
  }
}
footer .footer-block .row {
  background: #038042;
  width: 80%;
  height: 200px;
  margin: 10px;
}

body {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=styles.css.map */